@import "~optimat-vue-assets/assets/scss/base.scss";

.ui-picker-date-layout {
  .date-input-layout {
    width: 200px;
    height: 30px;
    cursor: pointer;
    input {
      line-height: 30px;
      font-size: 12px;
      border-radius: 3px;
      border: 1px solid #bbbec4;
    }
    img {
      width: 16px;
      height: 16px;
      margin: 7px $s5;
    }
  }
  .date-pick-layout {
    border-radius: 3px;
    .year-item {
      height: 32px;
      line-height: 32px;
      div {
        font-size: 14px;
        text-align: center;
      }
      .year-select-btn {
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
    }
    .invalid-item, .preview-item {
      color: #bbbec4;
    }
    .date-item {
      font-size: 12px;
      width: 24px;
      height: 24px;
      text-align: center;
      cursor: pointer;
      border-radius: rem(5px);
    }
    .invalid-item {
      cursor: not-allowed;
    }
    .active-item:hover,
    .preview-item:hover {
      background-color: #FFEEBC;
    }
    .start-date-item,
    .end-date-item {
      background-color: #F9CC9D;
    }
    .middle-date-item {
      background-color: #C4DFB8;
    }
  }
}
